<meta charset="UTF-8">
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/table_blue_gray.css"></link>
<link rel="stylesheet" type="text/css" href="/css/mrs.css"></link>
<link rel="stylesheet" type="text/css" href="/css/message_box.css"></link>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script src="/jsgrid-1.5.3/jsgrid.js"></script>
<link rel="stylesheet" type="text/css" href="/jsgrid-1.5.3/jsgrid-theme.css"></link>
<link rel="stylesheet" type="text/css" href="/jsgrid-1.5.3/jsgrid.css"></link>

<!-- https://purecss.io/start/ -->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


<style>
    body {
        font-family: Lucida Grande;
        background-image: url('/img/brushed.png');
    }

    .banner-agency {
        cursor: pointer;
        margin-left:10px;
        color:white;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 25px;
        margin-right:20px;
    }

    .menu-item {
        cursor: pointer;
        color: white;
        border-right: 1px solid;
        padding: 20px;
    }
</style>

<div style="width:100%;background: red;height:50px;">
    <label class="banner-agency" onclick="window.location.replace('/home');">Martinsville Rescue Squad</label>
    <label style="color:white">{{user.displayname}}</label>
    {{#if user.isadmin}}
        <label class="menu-item" onclick="window.location.replace('/userAdministration');">Administration</label>
    {{/if}}

    <label class="menu-item">Log off</label>
    <label class="menu-item" style="text-align:right">Help</label>
</div>

