<h3>Reset Password</h3>
<script>
    $( document ).ready(function() {
        $('#resetbutton').click(function() {
            if( $('#newpassword').val() !== $('#newpasswordagain').val() ) {
                $('#newpasswordagainmsg').text('Passwords do not match');
                $('#newpasswordagainmsg').toggle();
                $('#newpassword').val('');
                $('#newpasswordagain').val('');
                console.log('Returning false....');
                return false;
            } else {
                // s'ok!
                console.log('Returning true...');
                return true;
            }
        });
    });

</script>

<form action="/resetPassword" method="post" class="pure-form pure-form-aligned">
    <!--input type="hidden" id="agency" name="agency" value="{{adminUser.agency}}" /-->

    <input id="username" name="username" type="hidden" value="{{user.email}}" />
    <div>
        <fieldset>
            <legend>{{user.email}}</legend>

            <div class="pure-control-group">
                <label for="password">Original Password</label>
                <input name='password' type="password" style="width:300px;" id='originalpassword' />
            </div>
            <div class="pure-control-group">
                <label for="newpassword">New Password</label>
                <input name='newpassword' style="width:300px;" id='newpassword' />
            </div>
            <div class="pure-control-group">
                <label for="newpasswordagain">Enter password again</label>
                <input name='newpasswordagain' style="width:300px;" id='newpasswordagain' />
                <label class="error_message" id="newpasswordagainmsg" style="display:none"></label>
            </div>

            <div class="pure-control-group">
                <button id="resetbutton" type="submit" class="pure-button pure-button-primary">Reset Password</button>
            </div>
            <a href="/forgotPassword">Forgot Password</a>
        </fieldset>
    </div>
</form>
